label.error {
    color: red;
}

input.error {
    background-color: #ffcccc;
}

span.error {
    color: red;
}

h2.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}

.content {

    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}

a {
    text-decoration: none;
}

tr {
    border-top-color: #bcc9e4;
    height: 30px;
}
